{% extends 'nestedapp/base.html' %}

{% block content_wrapper %}
        <div class="content-wrapper">
            {% block content_header %}
                <section class="content-header">
                   
                    {% block no_heading %}
                        <h1>
                            {% block page_name %}Category Page{% endblock %}
                            <div class="header-actions">
                                {% block page_actions %}

                                 {% endblock %}
                            </div>
                            {% block no_description %}
                            <small>{% block page_description %}{% endblock %}</small>
                            {% endblock %}
                        </h1>
                        {% block breadcrumbs %}
                        <ol class='breadcrumb'>
                            <li >
                                <a href="{%url 'dash'%}">
                                    <i class='fa fa-dashboard'></i>
                                    DashBoard
                                </a>
                            </li>
                            <li>
                                Category Page
                            </li>


                        </ol>
                            {# Breadcrumb implementation left to developers #}
                        {% endblock %}
                    {% endblock no_heading %}
                </section>
            {% endblock %}

            {% block content_outer %}
            <section class="content">
                {% block messages %}
                    {% include 'nestedapp/lib/_messages.html' %}
                {% endblock %}

                {% block content_block_wrap %}
                    {% block content %}
                    <div class='row'>

                        <div class='col-md-12'>
                            <div class='box '>
                            <div class='box-body'>

                                <form  role='form'>
                                    <div class='row filter'>
                                        <div class='col-md-4'>
                                            <div class='form-group has-success'>
                                                <label class='control-label'>
                                                    <i class='fa fa-bell-o'></i>
                                                    Category Name
                                                </label>
                                               {{filter.form.Category_name}}
                                            </div>
                                        </div>
                                        <div class='col-md-3'>
                                            <div class='form-group has-success'>
                                                <label class='control-label'>
                                                    
                                                    Parent Category
                                                </label>
                                                {{filter.form.parent}}
                                            </div>
                                        </div>
                                        <div class='col-md-3'>
                                            <div class='form-group has-success'>
                                                <label class='control-label'>
                                                    
                                                   Display Name
                                                </label>
                                                {{filter.form.display_name}}
                                            </div>
                                        </div>
                                        <div class='col-md-2'>
                                            <div class='form-group has-success'>
                                               
                                              <button class='btn btn-info btn-sm' title='category filter' type='submit' style='margin-top:25px; width:100%'>
                                                <i class =' fa fa-filter'></i>
                                                Filter Category
                                              </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                               </div>
                            </div>
                        </div>
                      </div>
                      
                      <div class='row'>

                        <div class='col-md-12'>
                            <div class='box'>
                                 <div class='box-header'>
                                    <div class='row'>
                                        <div class='col-md-6'>
                                            <h3 class='box-title'>
                                                List of Categories
                                            </h3>

                                        
                                        </div>
                                        <div class='col-md-6 text-right'>
                                            <a class='btn btn-primary btn-sm' href="{% url 'category'%}">
                                                <i class='fa fa-plus'></i>
                                            </a>
                                        
                                        </div>

                                    </div>

                                 </div>
                                 <div class='box-body'>

                                    <table class='table table-bordered table-striped table-responsive'>

                                        <thead>
                                            <tr>
                                                <th>Category Name</th>
                                                <th>Parent Category</th>
                                                <th>Display Name</th>
                                                <th>Status</th>
                                                <th>ordering</th>
                                                <th>Created</th>
                                                <th>Updated</th>
                                                <th>Action</th>
                                              
                                            </tr>
                                        </thead>

                                        <tbody>
                                            
                                             
                                            
                                            {% for cdata in c_data.object_list %}
                                            <tr>
                                                <td>{{cdata.Category_name}}</td>
                                                <td>{% if  cdata.parent%}
                                                    {{cdata.parent}}
                                                    {%else%}
                                                    -----
                                                    {% endif%}</td>
                                                <td>{{cdata.display_name}}</td>
                                                <td>{% if  cdata.publish is True%}
                                                    Activated
                                                    {%else%}
                                                    Deactivated
                                                    {% endif%}</td></td>
                                                <td>{{cdata.order}}</td>
                                                <td>{{cdata.dateCreate}}</td>
                                                <td>{{cdata.dateUpdate}}</td>
                                                <td>
                                                  <a href="{% url "cat-update" cdata.id%}"  class="btn btn-success btn-sm">
                                                    <i class='glyphicon glyphicon-pencil'></i>
                                                  </a>
                                                  <a href="{%url 'cat-delete' cdata.id%}"  class="btn btn-danger btn-sm" >
                                                    <i class='glyphicon glyphicon-trash'></i>
                                                  </a>
                                                 
                                                </td>
                                            </tr>
                                            
                                            {% endfor %}

                                           
                                           
                                            
                                        </tbody>
                                    </table>
                                </div>
                                
                                    
                               

                            </div>
                            
                            
                        </div>

                        {% if c_data.has_next or c_data.has_previous %}
                        <nav aria-label="..."style="float:right;">
                            <ul class="pagination" >
                                {%if c_data.has_previous%}
                              <li class="page-item ">
                                <a class="page-link" href="?page={{c_data.previous_page_number}}" >Previous</a>
                              </li>
                              {% else%}
                              <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                              </li>
                              {% endif%}
                              {% for i in nums%}
                              <li  class="{% if forloop.counter == c_data.number%}page-item active{%endif%}"><a class="page-link" href="?page={{forloop.counter}}">
                                {{forloop.counter}}
                              
                                 </a></li>
                              {% endfor%}
                              {%if c_data.has_next%}
                              <li class="page-item">
                                <a class="page-link" href="?page={{c_data.next_page_number}}">Next</a>
                              </li>
                            
                              {%else%}
                              <li class="page-item disabled">
                                <a class="page-link" href="#">Next</a>
                              </li>
                            
                              {% endif%}
                            </ul>
                          </nav>
                          {% endif%}
    

                      </div>
                    {% endblock %}
                   
                {% endblock %}
            </section>
            
            
            {% endblock   %}

            

        </div>
        {% endblock content_wrapper %}