{% extends 'nestedapp/base.html' %}

{% block content_wrapper %}
  <div class="content-wrapper">
    {% block content_header %}
      <section class="content-header">
        {% block no_heading %}
          <h1>
            {% block page_name %}
              Chapter Page
            {% endblock %}
            <div class="header-actions">
              {% block page_actions %}

              {% endblock %}
            </div>
            {% block no_description %}
              <small>
                {% block page_description %}

                {% endblock %}
              </small>
            {% endblock %}
          </h1>
          {% block breadcrumbs %}
            <ol class="breadcrumb">
              <li>
                <a href="dash">
                  <i class="fa fa-dashboard"></i>
                  DashBoard
                </a>
              </li>
              <li>Chapter Page</li>
            </ol>
            {# Breadcrumb implementation left to developers #}
          {% endblock %}
        {% endblock %}
      </section>
    {% endblock %}

    {% block content_outer %}
      <section class="content">
        {% block messages %}
          {% include 'nestedapp/lib/_messages.html' %}
        {% endblock %}

        {% block content_block_wrap %}
          {% block content %}
          <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">

            <li class="active"><a data-toggle="tab" aria-expanded="true" href="#sessionWise">Session wise data</a></li>
            <li class=""><a data-toggle="tab" aria-expanded="false" href="#endWise">End wise data</a></li>
          </ul>
          <script>
            $("li a").on("click",function(){
             var get_tab=$(this).attr()
             console.log(get_tab);
             
            });
          </script>
           <div class="tab-content">
            <div class="tab-pane  active" id="sessionWise">
             
            <div class="row" >
              <div class="col-md-12">
                <div class="box">
                  <div class="box-header">
                    <div class="row">
                      <div class="col-md-6">
                        <h3 class="box-title">List of Chapters</h3>
                      </div>
                      <div class="col-md-6 text-right">
                        <button class="btn btn-primary btn-sm m_button" id="chap_btn"><i class="fa fa-plus"></i></button>
                      </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal-dialog">
                    <div id="myModal" class="modal">
                      <style>
                                            /* The Modal (background) */
                        .modal {
                          display: none; /* Hidden by default */
                          position: fixed; /* Stay in place */
                          z-index: 1; /* Sit on top */
                          padding-top: 100px; /* Location of the box */
                          left: 0px;
                          top: 0;
                          width: 100%; /* Full width */
                          height: 100%; /* Full height */
                          overflow: auto; /* Enable scroll if needed */
                          background-color: rgb(0, 0, 0); /* Fallback color */
                          background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
                        }
                        
                        /* Modal Content */
                        .modal-content {
                          position: relative;
                          background-color: #fefefe;
                          margin: auto;
                          padding: 0;
                          border: 1px solid #888;
                          width: 50%;
                          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                          -webkit-animation-name: animatetop;
                          -webkit-animation-duration: 0.4s;
                          animation-name: animatetop;
                          animation-duration: 0.4s;
                        }
                        
                        /* Add Animation */
                        @-webkit-keyframes animatetop {
                          from {
                            top: -300px;
                            opacity: 0;
                          }
                          to {
                            top: 0;
                            opacity: 1;
                          }
                        }
                        
                        @keyframes animatetop {
                          from {
                            top: -300px;
                            opacity: 0;
                          }
                          to {
                            top: 0;
                            opacity: 1;
                          }
                        }
                        
                        /* The Close Button */
                        .close {
                          color: black;
                          float: right;
                          font-size: 25px;
                          top: 10%;
                        }
                        
                        .modal-header {
                          padding: 10px;
                        
                          color: white;
                        }
                        
                        .modal-body {
                          padding: 2px 16px;
                        }
                        
                        .modal-footer {
                          padding: 2px 16px;
                        
                          color: white;
                        }
                        .title {
                          font-size: 28px;
                          color: black;
                        }
                        #chap_close {
                          color: black;
                          background: #cfcfcf;
                        }
                        label.required:after {
                          content: ' *';
                          color: red;
                        }
                        /*tom select css */
                        #sessionWiseCategory .ts-wrapper.single .ts-control:after {
                          border-color: #343a40 transparent transparent;
                          border-style: solid;
                          border-width: 5px 5px 0;
                          content: none !important;
                          display: block;
                          height: 0;
                          margin-top: -3px;
                          position: absolute;
                          right: calc(0.75rem + 5px);
                          top: 50%;
                          width: 0;
                        }
                      </style>

                      <!-- Modal content -->
                      <div class="modal-content">
                        <style>
                          .ts-wrapper.single .ts-control:after {
                            border-color: #343a40 transparent transparent;
                            border-style: solid;
                            border-width: 5px 5px 0;
                            content: none !important;
                            display: block;
                            height: 0;
                            margin-top: -3px;
                            position: absolute;
                            right: calc(0.75rem + 5px);
                            top: 50%;
                            width: 0;
                          }
                          .focus .ts-control {
                            border-color: #80bdff;
                            box-shadow: none !important;
                            outline: 0;
                          }
                        </style>
                        <div class="modal-header">
                          <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
                          <h5 class="title" id="exampleModalLongTitle">Create New Chatpter</h5>
                        </div>
                        <div class="modal-body">
                          {% csrf_token %}
                          <div class="form-group">
                            <label for="name" class="required">Category</label>
                            <span class="appendSessionWiseCategory"></span>
                          </div>
                          <!-- append conditional select -->
                          <span class="appendConditionalSelect"></span>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default pull-left" id="sessionClose" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary sessionWiseSubmitBtn" data-dismiss="modal">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="box-body">
                    <table class="table table-bordered table-striped table-responsive">
                      <thead>
                        <tr>
                          <th>Category</th>
                          <th>Subject Name</th>
                          <th>Chapter Name</th>

                          <th>Status</th>
                          <th>Create Date</th>

                          <th>Action</th>
                        </tr>
                      </thead>

                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <script>
                // Get the modal
                var modal = document.getElementById('myModal')
                
                // Get the button that opens the modal
                
                var btn = document.getElementById('chap_btn')
                var btn2 = document.getElementById('sessionClose')
                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName('close')[0]
                var edit = document.getElementsByClassName('edit')
                
                edit.onclick = function () {
                  modal.style.display = 'block'
                }
                // When the user clicks the button, open the modal
                btn.onclick = function () {
                  modal.style.display = 'block'
                }
                
                // When the user clicks on <span> (x), close the modal
                span.onclick = function () {
                  modal.style.display = 'none'
                }
                btn2.onclick = function () {
                  modal.style.display = 'none'
                }
                
                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                  if (event.target == modal) {
                    modal.style.display = 'none'
                  }
                }
              </script>
              <script>
                var CategoryAndSessionData = ''
                var cat = []
          
                var sessions = []
                var cat_2
                var sessions_2
                $(document).ready(function () {
                  fun_SessionWiseCategory()
                  handelCategory()
                  handelSessionWiseSubmitButton()
                })
                
                function fun_SessionWiseCategory() {
                  $('.appendSessionWiseCategory').html('')
                  $('.appendSessionWiseCategory').html('<select id="sessionWiseCategory" placeholder="Select Category" autocomplete="off" class="form-control" ><option value="" selected disabled>Select Category</select>')
                
                  var selectedCategory = new TomSelect('#sessionWiseCategory', {
                    create: false,
                    sortedField: {
                      field: 'text',
                      direction: 'asc'
                    },
                    maxItems: 1,
                    minItems: 1
                  })
                  axios.get('/session-cat/api/').then(function (response) {
                    console.log(response.data)
                
                    for (var i = 0; i < response.data.length; i++) {
                      let { category, session } = response.data[i]
                
                      cat.push(category)
                      sessions.push(session)
                    }
                
                    CategoryAndSessionData = response.data
                    $('#sessionWiseCategory').html('')
                    $('#sessionWiseCategory').append(`<option value="">Select Category</option>`)
                    cat.forEach(function (item) {
                      if (item.has_session) {
                        let data = { value: item.id, text: item.Category_name }
                
                        {% comment %} selectedCategory.addOption(data) {% endcomment %}
                      }
                    })
                  })
                  
                  axios.get(" {% url 'session-and-category' %}").then(function (response){
                    cat_2=response.data.category
                    sessions_2=response.data.session
              
                    $('#sessionWiseCategory').html('')
                    $('#sessionWiseCategory').append(`<option value="">Select Category</option>`)
                    cat_2.forEach(function(item){
          
                      if (item.has_session){
                        let data_2={value:item.id,text:item.name}
                        console.log(data_2)
                        selectedCategory.addOption(data_2)
                      }
                    })
                    
                   })
                  
                }
                
                function handelCategory() {
                  $('#sessionWiseCategory').on('change', function () {
                    $('.appendConditionalSelect').html('')
                    let session_html = `<div class="form-group"><label for="name" class="required">Selsect Session</label><select id="session" placeholder="Select Session" autocomplete="off"><option value="" selected disabled>Select Session</option></select></div>`
                
                    $('.appendConditionalSelect').append(session_html)
                  
                    var sessionSelect = new TomSelect('#session', {
                      create: false,
                      sortedField: {
                        field: 'text',
                        direction: 'asc'
                      },
                      minItems: 1,
                      maxItems: 1
                    })
                    sessions.forEach(function (item) {
                      let data = { value: item.year + '-' + item.id, text: item.name }
               
                      {% comment %} sessionSelect.addOption(data) {% endcomment %}
                    })
                    sessions_2.forEach(function(item){
                      let data_2={value:item.year+'-'+item.id,text:item.name}
                      sessionSelect.addOption(data_2)
                    })
                    let categorySelected = cat_2.find((item) => item.id == $(this).val())
                    if (categorySelected.is_sub) {
                      let end_date = `<div class="form-group">
                                          <label for="name">End Date</label>
                                          <input type="date" class="form-control" id="semester_end_other" name="end_date"/>
                                        </div>`
                      $('.appendConditionalSelect').append(end_date)
                    } else {
                      let selectSemester = `<div class="form-group">
                                        <label for="name">Select Semester Number</label>
                                        <input class="form-control" readonly id="semester_number" name="selectSemister" value="8"/>
                                       </div>`
                      $('#session').on('change', function () {
                   
                        let semesters = 8
                        $('.appendConditionalSelect').append(selectSemester)
                        $('.appendConditionalSelect').append('<div class="row appendSemester"></div>')
                        semesterSelectAfterInput(semesters)
                      })
                    }
                  })
                }
                function semesterSelectAfterInput(semesters) {
                  $('.appendSemester').html('')
                  let session_year = parseInt($('#session').val().split('-')[0])
                  let semester_one = `
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="semester_one_start" class="required">Semester One (Start Date)</label>
                      <input type="date" class="form-control" id="semester_one_start" name="semester_one_start"
                      value="${session_year}-01-01"/>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="semester_one_end">Semester One (End Date)</label>
                      <input type="date" class="form-control" id="semester_one_end" name="semester_one_end"
                      value="${session_year}-06-30"/>
                    </div>
                  </div>`
                  $('.appendSemester').append(semester_one)
                  handleAfterFirstSemester(semesters,session_year)
                } 
                function handleAfterFirstSemester(semesters,session_year) {
                  let semester = "";
                  session_year = session_year + "-06-30";
                  let date = new Date(session_year);
                  for (let index = 2; index <= semesters; index++) {
                    session_year = date.setMonth(date.getMonth() + 6);
                    session_year = new Date(session_year).toISOString().slice(0, 10);
                    let semester_name = stringifyNumber(index);
                    semester += `
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="semester_${index}" class="text-capitalize">Semester ${semester_name} End</label>
                            <input type="date" class="form-control" id="semester_${index}" name="semester_${semester_name}"
                            value="${session_year}"/>
                          </div>
                        </div>
                        `;
                  }
                  $(".appendSemester").append(semester);
                  handleDateChange(semesters)
                }
                function handleDateChange(semesters) {
                  $("#session").on("change", function () {
                    let session_year = $(this).val().split('-')[0];
                    // Semester One Start
                    session_year = session_year + "-01-01";
                    $("#semester_one_start").val(session_year);
                    // Semester One End
                    let date = new Date(session_year);
                    session_year = date.setMonth(date.getMonth() + 6);
                    session_year = new Date(session_year).toISOString().slice(0, 10);
                    $("#semester_one_end").val(session_year);
                    for (let index = 2; index <= semesters; index++) {
                      date = new Date(session_year);
                      session_year = date.setMonth(date.getMonth() + 6);
                      session_year = new Date(session_year).toISOString().slice(0, 10);
                      $(`#semester_${index}`).val(session_year);
                    }
                  });
              
                  $("#semester_one_start").on("change", function () {
                    let semester_one_start = $(this).val();
                    let date = new Date(semester_one_start);
                    session_year = "";
                    session_year = date.setMonth(date.getMonth() + 6);
                    session_year = new Date(session_year).toISOString().slice(0, 10);
                    $("#semester_one_end").val(session_year);
                    for (let index = 2; index <= semesters; index++) {
                      let date = new Date(session_year);
                      session_year = date.setMonth(date.getMonth() + 6);
                      session_year = new Date(session_year).toISOString().slice(0, 10);
                      $(`#semester_${index}`).val(session_year);
                    }
                  })
                }
              
                function stringifyNumber(n) {
                  var special = ['zeroth','first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth', 'eleventh', 'twelvth', 'thirteenth', 'fourteenth', 'fifteenth', 'sixteenth', 'seventeenth', 'eighteenth', 'nineteenth'];
                  var other = ['twent', 'thirt', 'fourt', 'fift', 'sixt', 'sevent', 'eight', 'ninet'];
                  if (n < 20) return special[n];
                  if (n%10 === 0) return other[Math.floor(n/10)-2] + 'ieth';
                  return other[Math.floor(n/10)-2] + 'y-' + special[n%10];
                }
          
                function handelSessionWiseSubmitButton(){
                  $('.sessionWiseSubmitBtn').on('click',function(){
                    var date=new Date()
                    var data=""
                    let category_id=$("#sessionWiseCategory").val()
                    let currentDate=date.getFullYear()+ "-" + (date.getMonth())+ "-"+ date.getDate();
                    let selected_category=cat_2.find((item)=>item.id==category_id)
                    if (selected_category.is_sub){
                      data={
                        "session":$('#session').val().split('-')[1],
                        "category":category_id,
                        "total_semesters":1,
                        "semesters":[
                        {
                          "level":1,
                          "semester_start":currentDate,
                          "semester_end":$("#semester_end_other").val()
                        }
                        ]
                      }
                      console.log(data)
                      sendBackendForSessionWise(data)
                    }else{
                      let semesters=[]
                      let total_semester=$('#semester_number').val()
                      let semester={
                        "level":1,
                        "semester_start":$("#semester_one_start").val(),
                        "semester_end":$("#semester_one_end").val()
                      }
                      semesters.push(semester)
                      for( var index=2;index<=total_semester;index++){
                        let prevIndex=index-1
                        if (index==2){
                          let semester={
                            "level":index,
                            "semester_start":$("#semester_one_end").val(),
                            "semester_end":$("#semester_"+ index).val()
                          }
                          semesters.push(semester)
                        }else{
                          let semester={
                            "level":index,
                            "semester_start":$("#semester_"+prevIndex).val(),
                            "semester_end":$("#semester_"+index).val()
          
                          }
                          semesters.push(semester)
                        }
          
                      }
                      var data={
                        "session":$("#session").val().split('-')[1],
                        "category":category_id,
                        "total_semesters":$("#semester_number").val(),
                        "semesters":semesters
                      }
                      sendBackendForSessionWise(data)
                    
          
                    }
                    
                  })
          
                }
                function sendBackendForSessionWise(data){
                  var csrfToken=$("input[name=csrfmiddlewaretoken]").val()
                  axios.post("{%url 'control-post'%}",data,{
                    headers:{
                      "X-CSRFToken":csrfToken,
                    }
                  }).then(function (response){
                     location.reload()
                   
                  })
          
                }
              </script>
              <script>
                var cate
                var sess
                $(document).ready(function(){
                 
                  
                })
            
              </script>
            </div>
          </div>
          <div class="tab-pane" id="endWise">
            <div class="row" id="endWise"><h1>end wise data</h1></div>
          </div>
           
          </div>
        </div>
          {% endblock %}
        {% endblock %}
      </section>
    {% endblock %}

   
  </div>
{% endblock %}
