{% extends 'adminlte/base.html' %}

{% block content_wrapper %}
        <div class="content-wrapper">
            {% block content_header %}
                <section class="content-header">
                   
                    {% block no_heading %}
                        <h1>
                            {% block page_name %}Department Page{% endblock %}
                            <div class="header-actions">
                                {% block page_actions %}

                                 {% endblock %}
                            </div>
                            {% block no_description %}
                            <small>{% block page_description %}{% endblock %}</small>
                            {% endblock %}
                        </h1>
                        {% block breadcrumbs %}
                        <ol class='breadcrumb'>
                            <li >
                                <a href="{%url 'dash'%}">
                                    <i class='fa fa-dashboard'></i>
                                    DashBoard
                                </a>
                            </li>
                            <li>
                                Department Page
                            </li>


                        </ol>
                            {# Breadcrumb implementation left to developers #}
                        {% endblock %}
                    {% endblock no_heading %}
                </section>
            {% endblock %}

            {% block content_outer %}
            <section class="content">
                {% block messages %}
                    {% include 'adminlte/lib/_messages.html' %}
                {% endblock %}

                {% block content_block_wrap %}
                    {% block content %}
                    <div class='row'>

                        <div class='col-md-12'>
                            <div class='box '>
                            <div class='box-body'>

                                <form  role='form'>
                                    <div class='row filter'>
                                        <div class='col-md-4'>
                                            <div class='form-group has-success'>
                                                <label class='control-label'>
                                                    <i class='fa fa-bell-o'></i>
                                                    Category Name
                                                </label>
                                               {{filter.form.category}}
                                            </div>
                                        </div>
                                        <div class='col-md-3'>
                                            <div class='form-group has-success'>
                                                <label class='control-label'>
                                                    
                                                    Department Name
                                                </label>
                                                {{filter.form.depName}}
                                            </div>
                                        </div>
                                        <div class='col-md-3'>
                                            <div class='form-group has-success'>
                                                <label class='control-label'>
                                                    
                                                   Deparment Short Name
                                                </label>
                                                {{filter.form.shortName}}
                                            </div>
                                        </div>
                                        <div class='col-md-2'>
                                            <div class='form-group has-success'>
                                               
                                              <button class='btn btn-info btn-sm' title='Deparment filter' type='submit' style='margin-top:25px; width:100%'>
                                                <i class =' fa fa-filter'></i>
                                                Department Filter
                                              </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                               </div>
                            </div>
                        </div>
                      </div>
                      
                      <div class='row'>

                        <div class='col-md-12'>
                            <div class='box'>
                                 <div class='box-header'>
                                    <div class='row'>
                                        <div class='col-md-6'>
                                            <h3 class='box-title'>
                                                List of Departments
                                            </h3>

                                        
                                        </div>
                                        <div class='col-md-6 text-right'>
                                            <a class='btn btn-primary btn-sm' href="{% url 'department'%}">
                                                <i class='fa fa-plus'></i>
                                            </a>
                                        
                                        </div>

                                    </div>

                                 </div>
                                 <div class='box-body'>

                                    <table class='table table-bordered table-striped table-responsive'>

                                        <thead>
                                            <tr>
                                                <th>Department Name</th>
                                                <th>Category</th>
                                                <th> Department Short Name</th>
                                                <th>Department Icon</th>
                                                <th>Department Thumbnail</th>

                                                <th>Created</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                              
                                            </tr>
                                        </thead>

                                        <tbody>
                                            
                                             
                                            
                                            {% for cdata in dep_data.object_list %}
                                            <tr>
                                                <td>{{cdata.depName}}</td>
                                                <td>{% if  cdata.category%}
                                                    {{cdata.category}}
                                                    {%else%}
                                                    -----
                                                    {% endif%}</td>
                                                <td>{{cdata.shortName}}</td>
                                                <td>{{cdata.dep_icon}}</td>
                                                <td>{{cdata.dep_thumbnail}}</td>
                                                <td>{{cdata.depMakeDate}}</td>
                                                <td>{% if  cdata.publish is True%}
                                                    Activated
                                                    {%else%}
                                                    Deactivated
                                                    {% endif%}</td>
                                                
                                                <td>
                                                  <a href="{% url "dep-update" cdata.id%}"  class="btn btn-success btn-sm">
                                                    <i class='glyphicon glyphicon-pencil'></i>
                                                  </a>
                                                  <a href="{%url 'dep-delete' cdata.id%}"  class="btn btn-danger btn-sm" >
                                                    <i class='glyphicon glyphicon-trash'></i>
                                                  </a>
                                                 
                                                </td>
                                            </tr>
                                            
                                            {% endfor %}

                                           
                                           
                                            
                                        </tbody>
                                    </table>
                                </div>
                                

                            </div>
                            {%if dep_data.has_next or dep_data.has_previous%}
                            <nav aria-label="..." style="float:right;">
                                <ul class="pagination">
                                    {%if dep_data.has_previous%}
                                  <li class="page-item ">
                                    <a class="page-link" href="?page={{dep_data.previous_page_number}}" >Previous</a>
                                  </li>
                                  {% else%}
                                  <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                  </li>
                                  {% endif%}
                                  {% for i in nums%}
                                  <li  class="{% if forloop.counter == dep_data.number%}page-item active{%endif%}"><a class="page-link" href="?page={{forloop.counter}}">
                                    {{forloop.counter}}
                                  
                                     </a></li>
                                  {% endfor%}
                                  {%if dep_data.has_next%}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{dep_data.next_page_number}}">Next</a>
                                  </li>
                                  {%else%}
                                  
                                  <li class="page-item disabled">
                                    <a class="page-link" href="#">Next</a>
                                  </li>
                                  {% endif%}
                                </ul>
                              </nav>
                              {% endif%}
                            
                            
                        </div>

                      
                            
                      

                      </div>
                    {% endblock %}

                {% endblock %}
            </section>
            
            
            {% endblock   %}

            

        </div>
        {% endblock content_wrapper %}