{% extends "nestedapp/base.html" %}

{% block content_wrapper %}
        <div class="content-wrapper">
            {% block content_header %}
                <section class="content-header">
                  <style>
                    .crosssign {
                      display: inline-block;
                      width: 15px;
                      height: 15px;
                      position: relative;
                      transform: rotate(45deg);
                    }
                  
                    .crosssign_circle {
                      position: absolute;
                      width: 15px;
                      height: 15px;
                      background-color: rgb(255, 0, 0);
                      border-radius: 9px;
                      left: 0;
                      top: 0;
                    }
                  
                    .crosssign_stem,
                    .crosssign_stem2 {
                      position: absolute;
                      background-color: #fff;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                    }
                  
                    .crosssign_stem {
                      width: 3px;
                      height: 9px;
                    }
                  
                    .crosssign_stem2 {
                      width: 9px;
                      height: 3px;
                    }
                    .fa-check-circle {
                      color: #3f8007;
                      font-size: 18px;
                  }
                  </style>
                   
                    {% block no_heading %}
                        <h1>
                            {% block page_name %}Semester Page{% endblock %}
                            <div class="header-actions">
                                {% block page_actions %}

                                 {% endblock %}
                            </div>
                            {% block no_description %}
                            <small>{% block page_description %}{% endblock %}</small>
                            {% endblock %}
                        </h1>
                        {% block breadcrumbs %}
                        <ol class="breadcrumb">
                            <li >
                                <a href="{%url 'dash'%}">
                                    <i class="fa fa-dashboard"></i>
                                    DashBoard
                                </a>
                            </li>
                            <li>
                                Semester Page
                            </li>


                        </ol>
                            {# Breadcrumb implementation left to developers #}
                        {% endblock %}
                    {% endblock no_heading %}
                </section>
            {% endblock %}

            {% block content_outer %}
            <section class="content">
                {% block messages %}
                    {% include "nestedapp/lib/_messages.html" %}
                {% endblock %}

                {% block content_block_wrap %}
                    {% block content %}
                    <div class="row">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-body">
                                        <div class="row">
                          <div class="col-md-6">
                             <div class="col-md-6">
                               <div class="form-group has-success" style="float: right!important; margin-top: 7px!important;">
                               <label class="control-label" for="name">
                                 <i class="fa fa-clone"></i> Session Name :
                               </label>
                               </div>
                            </div>
                             <div class="col-md-6">     
                              <div class="form-group has-success">
                                <select
                                      id="select-filter-session"
                                      placeholder="Select a session year..."
                                      autocomplete="off"
                                    >
                                      <option value="" selected disabled>Select a session year...</option>
                                 </select>
                              </div>
                             </div>
                          </div>
                          <div class="col-md-6">
                            <div class="col-md-6">
                               <div class="form-group has-success" style="float: right!important; margin-top: 7px!important;">
                               <label class="control-label" for="name">
                                 <i class="fa fa-clone"></i> Category Name :
                               </label>
                               </div>
                            </div>
                             <div class="col-md-6">     
                              <div class="form-group has-success">
                                <select
                                      id="select-filter-category"
                                      placeholder="Select a category year..."
                                      autocomplete="off"
                                    >
                                      <option value="" selected disabled>Select a category year...</option>
                                 </select>
                              </div>
                             </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>

                      {% comment %} for table  {% endcomment %}

                <div class="row">
                  
                    <div class="col-md-12">
                      <div class="box">
                        <div class="box-header">
                          <div class="row">
                            <div class="col-md-6">
                              <h3 class="box-title">List of Semesters</h3>
                            </div>
                            <div class="col-md-6 text-right d-none">
                              <a
                                data-toggle="modal"
                                data-target="#addSession"
                                title="Create a new Session"
                                class="btn btn-primary btn-sm addSession"
                              >
                                <i class="fa fa-plus"></i> Add
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="box-body">
                          <table class="table table-bordered table-striped table-responsive semester_table text-center">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Is Active</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody></tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                      
                    {% endblock %}

                {% endblock %}
            </section>
            
            
            {% endblock   %}

            <script>
                var semester_table=""
                var selectedFilterCategory=""
                var selectedFilterSession=""
                var data=""
                var cat=[]
                var session=[]
                var semester=[]
                $(document).ready(function(){
                    selectFilterSession()

                })

                function selectFilterSession(){
                    var getSessionData=""
                    selectedFilterSession=new TomSelect("#select-filter-session",{
                        create:false,
                        sortfield:{
                            field:"text",
                            direction:"acs"
                        },
                        minItems:1,
                        maxItems:1
                    })
                     
                    semester_table = $(".semester_table").DataTable({
                        responsive: true,
                        autoWidth: false,
                        order: [[0, "asc"]],
                        ordering: true,
                        columnDefs: [{ orderable: false, targets: 0 }],
                      });
                    let option=[]
                    axios.get("/session-cat/api/").then(function(response){
                        data=response.data
                        console.log(data)
                        for (var i=0;i<data.length;i++){
                        
                            cat.push(data[i].category)
                            session.push(data[i].session)
                            semester.push(data[i].semester)
                        }
                       session.forEach(function(item){

                        let sessionData={
                            value:item.id,text:item.name
                        }
                       option.push(sessionData)

                       
                       })

                       console.log(option)
                       let firstSelectedSessionValue=option[0].value
                       selectedFilterSession.addOption(option)
                       selectedFilterSession.setValue(firstSelectedSessionValue)
                       selectCategoryOption(firstSelectedSessionValue)
                       $("#select-filter-session").on("change",function(){
                        let selectedSession=$(this).val()
                        let selectedCategory=selectedFilterCategory.getValue()
                        tableDataFilter(selectedSession,selectedCategory)
                       })


                     
                       
                       

                    })

                    function selectCategoryOption(firstSelectedSessionValue){
                        selectedFilterCategory=new TomSelect("#select-filter-category",{
                            create:false,
                            sortfield:{
                                field:"text",
                                direction:"asc"
                            },
                            minItems:1,
                            maxitems:1
                        })
                        let catOption=[]
                      
                        cat.forEach(function (item){
                            let cat_data={
                                value:item.id, text:item.Category_name
                            }
    
                          
                            catOption.push(cat_data)
                        })
                        firstSelectedCategoryValue=catOption[0].value
                        selectedFilterCategory.addOption(catOption)
                        selectedFilterCategory.setValue(firstSelectedCategoryValue)
                        tableDataFilter(firstSelectedSessionValue,firstSelectedCategoryValue)

                        $("#select-filter-category").on("change",function(){
                            let selectedCategory=$(this).val()
                            console.log(selectedCategory)
                            let selectedSession=selectedFilterSession.getValue()
                            tableDataFilter(selectedSession,selectedCategory)
                           
                        })
                        
                    }

                    function tableDataFilter(sessionValue,categoryValue){
                        let table_data=[]
                        sessionValue=parseInt(sessionValue)
                        categoryValue=parseInt(categoryValue)
                        let new_data=[]
                        data.forEach(function (item){
                            let data={
                                session:item.session,
                                category:item.category,
                                semester:item.semester
                            }
                            new_data.push(data)

                       
                    

                        })
                       let filterData=new_data.filter((item)=>item.session.id==sessionValue)
                       if(filterData.length > 0){

                        if(filterData[0].category.id == categoryValue){
                            filterData=filterData[0].semester
                           
                        }else{
                            filterData=[]
                        }
                       }else{
                        filterData=[]
                       }
                       console.log(filterData)
                       filterData.forEach(function(item){

                        let pushTableData={
                            semester_id:item.id,
                            semester_level:item.level,
                            semestera_start:item.startDate,
                            semester_end:item.endDate,
                            is_active:item.is_active
                        }
                        table_data.push(pushTableData)
                       })
                       console.log(table_data)

                       semester_table.clear().draw()

                       for (var index=0;index< filterData.length;index++){
                        let element=filterData[index]
                    
                        let checkIcon=`<i class="fa fa-check-circle text-success"></i>`
                        let crossIcon=`<span class="crosssign">
                            <div class="crosssign_circle"></div>
                            <div class="crosssign_stem"></div>
                            <div class="crosssign_stem2"></div>
                          </span>`

                         let isActive=element.is_active == true ? checkIcon : crossIcon 
                         let btn=getBtn(element.id)
                         semester_table.row.add(["semester "+element.level,element.startDate,element.endDate,isActive,btn]).draw(false)
                       }
                       

                    }

                    function getBtn(id){
                      let btn=`<a href="/semester-course/${id}">
                        <span data-toggle="tooltip" data-placement="left" title="Update the session" 
                        class="btn btn-sm btn-primary">
                          <i class="glyphicon glyphicon-eye-open"></i>
                        </span>
                       </a>
                       <span data-toggle="tooltip" data-placement="left" title="Delete the session" 
                       class="btn btn-sm btn-danger d-none">
                         <i class="glyphicon glyphicon-trash"></i>
                       </span>`
                     return btn
                    }
                 
                   
                    
                }
            </script>

        </div>
        {% endblock content_wrapper %}