{% extends 'adminlte/base.html' %}

{% block content_wrapper %}
        <div class="content-wrapper">
            {% block content_header %}
                <section class="content-header">
                   
                    {% block no_heading %}
                        <h1>
                            {% block page_name %}Semester Page{% endblock %}
                            <div class="header-actions">
                                {% block page_actions %}

                                 {% endblock %}
                            </div>
                            {% block no_description %}
                            <small>{% block page_description %}{% endblock %}</small>
                            {% endblock %}
                        </h1>
                        {% block breadcrumbs %}
                        <ol class='breadcrumb'>
                            <li >
                                <a href="{%url 'dash'%}">
                                    <i class='fa fa-dashboard'></i>
                                    DashBoard
                                </a>
                            </li>
                            <li>
                                Semester Page
                            </li>


                        </ol>
                            {# Breadcrumb implementation left to developers #}
                        {% endblock %}
                    {% endblock no_heading %}
                </section>
            {% endblock %}

            {% block content_outer %}
            <section class="content">
                {% block messages %}
                    {% include 'adminlte/lib/_messages.html' %}
                {% endblock %}

                {% block content_block_wrap %}
                    {% block content %}
                    <div class='row'>

                        <div class='col-md-12'>
                            <div class='box '>
                            <div class='box-body'>

                                <form  role='form'>
                                    <div class='row filter'>
                                        <div class='col-md-4'>
                                            <div class='form-group has-success'>
                                                <label class='control-label'>
                                                    <i class='fa fa-bell-o'></i>
                                                    Semester Name
                                                </label>
                                               {{filter.form.name}}
                                            </div>
                                        </div>
                                        <div class='col-md-3'>
                                            <div class='form-group has-success'>
                                                <label class='control-label'>
                                                    
                                                    Select Category
                                                </label>
                                                {{filter.form.category}}
                                            </div>
                                        </div>
                                        <div class='col-md-3'>
                                            <div class='form-group has-success'>
                                                <label class='control-label'>
                                                    
                                                   Select Deparment 
                                                </label>
                                                {{filter.form.department}}
                                            </div>
                                        </div>
                                        <div class='col-md-2'>
                                            <div class='form-group has-success'>
                                               
                                              <button class='btn btn-info btn-sm' title='Deparment filter' type='submit' style='margin-top:25px; width:100%'>
                                                <i class =' fa fa-filter'></i>
                                                Semester Filter
                                              </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                               </div>
                            </div>
                        </div>
                      </div>
                      
                      <div class='row'>

                        <div class='col-md-12'>
                            <div class='box'>
                                 <div class='box-header'>
                                    <div class='row'>
                                        <div class='col-md-6'>
                                            <h3 class='box-title'>
                                                List of Semesters
                                            </h3>

                                        
                                        </div>
                                        <div class='col-md-6 text-right'>
                                            <a class='btn btn-primary btn-sm' href="{% url 'semester'%}">
                                                <i class='fa fa-plus'></i>
                                            </a>
                                        
                                        </div>

                                    </div>

                                 </div>
                                 <div class='box-body'>

                                    <table class='table table-bordered table-striped table-responsive'>

                                        <thead>
                                            <tr>
                                                <th>Semester Name</th>
                                                <th>Category</th>
                                                <th> Department</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>

                                                <th>Semester Icon</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                              
                                            </tr>
                                        </thead>

                                        <tbody>
                                            
                                             
                                            
                                            {% for cdata in page_obj.object_list %}
                                            <tr>
                                                <td>{{cdata.name}}</td>
                                                <td>{% if  cdata.category%}
                                                    {{cdata.category}}
                                                    {%else%}
                                                    -----
                                                    {% endif%}</td>
                                                <td>{{cdata.department}}</td>
                                                <td>{{cdata.startDate}}</td>
                                                <td>{{cdata.endDate}}</td>
                                                <td>{{cdata.icon}}</td>
                                                <td>{% if  cdata.publish is True%}
                                                    Activated
                                                    {%else%}
                                                    Deactivated
                                                    {% endif%}</td>
                                                
                                                <td>
                                                  <a href="{% url "sem-update" cdata.id%}"  class="btn btn-success btn-sm">
                                                    <i class='glyphicon glyphicon-pencil'></i>
                                                  </a>
                                                  <a href="{%url 'sem-delete' cdata.id%}"  class="btn btn-danger btn-sm" >
                                                    <i class='glyphicon glyphicon-trash'></i>
                                                  </a>
                                                 
                                                </td>
                                            </tr>
                                            
                                            {% endfor %}

                                           
                                           
                                            
                                        </tbody>
                                    </table>
                                </div>
                                

                            </div>
                            {%if page_obj.has_next or page_obj.has_previous%}
                            <nav aria-label="..." style="float:right;">
                                <ul class="pagination">
                                    {%if page_obj.has_previous%}
                                  <li class="page-item ">
                                    <a class="page-link" href="?page={{page_obj.previous_page_number}}" >Previous</a>
                                  </li>
                                  {% else%}
                                  <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                  </li>
                                  {% endif%}
                                  {% for i in nums%}
                                  <li  class="{% if forloop.counter == page_obj.number%}page-item active{%endif%}"><a class="page-link" href="?page={{forloop.counter}}">
                                    {{forloop.counter}}
                                  
                                     </a></li>
                                  {% endfor%}
                                  {%if dep_data.has_next%}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
                                  </li>
                                  {%else%}
                                  
                                  <li class="page-item disabled">
                                    <a class="page-link" href="#">Next</a>
                                  </li>
                                  {% endif%}
                                </ul>
                              </nav>
                              {% endif%}
                            
                            
                        </div>

                      
                            
                      

                      </div>
                    {% endblock %}

                {% endblock %}
            </section>
            
            
            {% endblock   %}

            

        </div>
        {% endblock content_wrapper %}