{% extends 'adminlte/base.html' %}

{% block extra_head %}

{% endblock %}

{% block content_wrapper %}
        <div class="content-wrapper">
            {% block content_header %}
                <section class="content-header">
                   
                    {% block no_heading %}
                        <h1>
                            {% block page_name %}Subject Page{% endblock %}
                            <div class="header-actions">
                                {% block page_actions %}

                                 {% endblock %}
                            </div>
                            {% block no_description %}
                            <small>{% block page_description %}{% endblock %}</small>
                            {% endblock %}
                        </h1>
                        {% block breadcrumbs %}
                        <ol class='breadcrumb'>
                            <li >
                                <a href="{%url 'dash'%}">
                                    <i class='fa fa-dashboard'></i>
                                    DashBoard
                                </a>
                            </li>
                            <li>
                             Subject Page
                            </li>


                        </ol>
                            {# Breadcrumb implementation left to developers #}
                        {% endblock %}
                    {% endblock no_heading %}
                </section>
            {% endblock %}

            {% block content_outer %}
            <section class="content">
                {% block messages %}
                    {% include 'adminlte/lib/_messages.html' %}
                {% endblock %}

                {% block content_block_wrap %}
                    {% block content %}
                      
                      <div class='row'>

                        <div class='col-md-12'>
                            <div class='box box-primary'>

                                <!-- its header for the page -->
                              <div class='box-header with-border'>
                                <h3 class='box-title'> Create Subject<h3>
                               </div>

                               <!-- its form for this page-->
                               <div class='box-body'>
                                <form method='POST' role='form'  enctype='multipart/form-data'>

                                    {%csrf_token%}
                                    <div class='tosterMessage' id='messageArea'>
    
                                    </div>
                                    <div class='row'>
                                        <div class='col-md-6 '>
                                            <div class='form-group'>
                                                <label for='id_category'>Select Category</label>
                                                {{form.category}}
                                            </div>
                                            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px">
                                                <div class='form-group'>
                                                    <label for="id_name"> Subject Name</label>
                                                   {{form.name}}
                                                   
                                                       
                                                  
                                                    
                                                </div>
                                                <div class='form-group'>
                                                    <label for="id_subCode">Subject Code(will be Unique)</label>
                                                    {{form.subCode}}
                                                </div>
                                            </div>
                                            <div class='form-group'>
                                                <label for="id_subImage">Subject Image(optional)</label>
                                                {{form.subImage}}
                                            </div>
                                           
                                           
                                        </div>
                                        <div class='col-md-6'>
                                           
                                            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px">
                                                <div class='form-group'>
                                                    <label for="id_order">Ordering System</label>
                                                    {{form.order}}
                                                 </div>
                                                 <div class='form-group'>
                                                    <p for="id_publish">
                                                        <strong>
                                                            Do you want to publish?
                                                        </strong>
                                                    </p>
                                                    
                                                      <label class='switch'>
                                                        {{form.publish}}
                                                        <span class="slider round"></span>
                                                      </label>
                                                 </div>
                                            </div>
                                            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 15px">
                                                <div class='form-group'>
                                                    <label for="id_primarycolor">Primary Color (optional)</label>
                                                    
 
                                                        
                                                        {{form.primaryColor}}
                                                         
                                                      
                                                         
                                                        </div>
                                                   
                                                
                                                 <div class='form-group'>
                                                    <label for="id_secondarycolor">Secondary Color (optional)</label>
                                                    {{form.secondaryColor}}
                                                 </div>
                                            </div>
                                           
                                          
                                            
    
                                            
                                        </div>
                                    </div>
    
                                    <div class="box-footer">
                                        <button type='submit' class='btn btn-success btn-sm' data-placement='right' data-toggle='tooltip' >Save</button>
                                        <a href="{% url 'dash'%}" class='btn btn-sm btn-primary'>
                                          Back
                                        </a>
                                    </div>
    
                                   </form>
                                

                               </div>
                              
                               
                               



                            </div>
                        </div>
                      </div>
                    {% endblock %}
                {% endblock %}
            </section>
            {% endblock   %}

        </div>
        {% endblock content_wrapper %}